.b{
    color:aqua
}

.li{
    color:chartreuse
}
.em{
    color:fuchsia

    animation: pulse-green 2s infinite;
}

div {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: pulse;
    animation-duration: infinite;
  }
  
  @keyframes pulse {
    from {color: red;}
    to {color: yellow;}