b{
    color:aqua
}

li{
    
    color:chartreuse
}
em{
    color:fuchsia

    
}

@keyframes pulse {
    from {color: red;}
    to {color: yellow;}
}

a {
    color: red;
    animation-name: pulse ;
    animation-duration: 100s;
  }
  
@keyframes flash {
    from {color: gold;}
    to {color: grey;}
}

div {
    color: gold;
    animation-name: flash ;
    animation-duration: 100s;
  }

