b{
    color:aqua
}

li{
    
    color:chartreuse
}
em{
    color:fuchsia

    
}

@keyframes pulse {
    from {color: red;}
    to {color: yellow;}
}

p {
    color: red;
    animation-name: pulse ;
    animation-duration: 4s;
  }
  


