b{
    color:aqua
}

li{
    
    color:chartreuse
}
em{
    color:fuchsia

    
}

div {

    color: red;
    animation-name: pulse;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background-color: navy;
    text-align: center;
    font-size: 35px;
  }
  
  @keyframes pulse {
    from {color: red;}
    to {color: yellow;}
  }




